// Color
$primary: #0066cc;
$secondary: rgba(255, 255, 255, 0.87);
$light-blue: rgba(0, 102, 204, 0.12);
$light-green: rgb(242, 251, 238);
$green: #55cc22;
$warning: rgb(255, 249, 238);
$dark-warning: #ffb121;
$progress: rgba(0, 102, 204, 0.08);
$dark-text: rgba(0, 0, 0, 0.87);
$light-text: rgba(0, 0, 0, 0.6);
$grey-scroll-track: #fafafa;
$grey-scroll: #d3d3d3;
$scroll-border: #484848;
// Font
$xs-font: 12px;
$small-font: 14px;
$medium-font: 16px;
$large-font: 20px;
$xl-font: 24px;
$letter-spacing-xs: 0.1px;
$letter-spacing-sm: 0.15px;
$letter-spacing-md: 0.25px;
$letter-spacing-lg: 0.5px;
$line-height-xs: 0.5;
$line-height-sm: 1;
$line-height-md: 1.2;
$line-height-lg: 1.5;
$line-height-xl: 1.7;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700
